<div class="form-container">
    <h2 mat-dialog-title>Estudio diario</h2>
  <mat-dialog-content>
    <form [formGroup]="form" *ngIf="form" class="form">
      <mat-form-field>
        <mat-label>Pomodoros</mat-label>
        <input matInput formControlName="pomodoros" type="number" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button (click)="onSubmit()" [disabled]="form?.invalid">
      Aceptar
    </button>
  </mat-dialog-actions>
</div>
